/CursoemVideo/Aula04/nbproject/private/
/CursoemVideo/Aula04/build/
/CursoemVideo/Aula05/nbproject/private/
/CursoemVideo/Aula05/build/
/CursoemVideo/Aula06/nbproject/private/
/CursoemVideo/Aula06/build/
/CursoemVideo/Aula07/nbproject/private/
/CursoemVideo/Aula07/build/
/CursoemVideo/Aula09/nbproject/private/
/CursoemVideo/Aula09/build/
/CursoemVideo/Aula10/nbproject/private/
/CursoemVideo/Aula10/build/
/CursoemVideo/Aula11/nbproject/private/
/CursoemVideo/Aula11/build/
